body {
  margin-top: 60px;
  background: url(../images/bg.jpg) center center;
  height: 92vh;
  width: 100%;
}
.history{
    max-width: 1000px;
    min-height: 600px;
    margin: 50px auto;
    border-radius: 10px;
}
.row{
    padding-top: 10px;
    text-align: center;
}
.loginLabel{
    font-family: "Arial";
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

