<div class="footer-top">
            <div class="container">
              <div class="content">
                <div class="item">
                  <div class="img">
                    <img src="../assets/images/img1.png" alt="" />
                  </div>
                  <div class="desc">
                    <span>GIAO HÀNG SIÊU TỐC</span>
                    <p>Hệ thống giao hàng tự động chỉ trong 3 phút</p>
                  </div>
                </div>
                <div class="item">
                  <div class="img">
                    <img src="../assets/images/img2.png" alt="" />
                  </div>
                  <div class="desc">
                    <span>BẢO HÀNH LÂU DÀI</span>
                    <p>
                      Mọi yêu cầu hỗ trợ sẽ được đội ngũ tư vấn giải quyết trực
                      tiếp.
                    </p>
                  </div>
                </div>
                <div class="item">
                  <div class="img">
                    <img src="../assets/images/img3.png" alt="" />
                  </div>
                  <div class="desc">
                    <span>UY TÍN 5 SAO</span>
                    <p>Được cộng đồng bình chọn là shop game uy tín nhất VN</p>
                  </div>
                </div>
                <div class="item">
                  <div class="img">
                    <img src="../assets/images/img4.png" alt="" />
                  </div>
                  <div class="desc">
                    <span>HỖ TRỢ TẬN TÌNH</span>
                    <p>Hệ thống hỗ trợ online liên tục từ 8h - 24h</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-body">
            <div class="container">
              <div class="content">
                <div class="item">
                  <div class="paragraph">DIVINESHOP</div>
                  <ul>
                    <li><a href="#">Game bản quyền là gì?</a></li>
                    <li><a href="#">Giới thiệu Divine Shop</a></li>
                    <li><a href="#">Điều khoản dịch vụ</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Donate nhân viên CSKH</a></li>
                  </ul>
                </div>
                <div class="item">
                  <div class="paragraph">TÀI KHOẢN</div>
                  <ul>
                    <li><a href="#">Giỏ hàng</a></li>
                    <li><a href="#">Đăng kí</a></li>
                    <li><a href="#">Đăng nhập</a></li>
                    <li><a href="#">Sản phẩm đã mua</a></li>
                    <li><a href="#">Chế độ bảo hành</a></li>
                  </ul>
                </div>
                <div class="item">
                  <div class="paragraph">LIÊN HỆ</div>
                  <ul>
                    <li><a href="#">Địa chỉ giao dịch trực tiếp</a></li>
                    <li>
                      Hotline:
                      <a href="#">1900 633 305</a>
                      (8:00 - 24:00)
                    </li>
                    <li>Email: hotro@divineshop.vn</li>
                    <li><a href="#">Fanpage</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>